<p id="notice"><%= notice %></p>

<p>
  <b>Themesid:</b>
  <%= @irobotui.themesid %>
</p>

<p>
  <b>Menuid:</b>
  <%= @irobotui.menuid %>
</p>

<p>
  <b>Userid:</b>
  <%= @irobotui.userid %>
</p>


<%= link_to 'Edit', edit_irobotui_path(@irobotui) %> |
<%= link_to 'Back', irobotuis_path %>
