<%= form_for(@user_more) do |f| %>
  <% if @user_more.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_more.errors.count, "error") %> prohibited this user_more from being saved:</h2>

      <ul>
      <% @user_more.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :born %><br />
    <%= f.date_select :born %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :comefrom %><br />
    <%= f.text_field :comefrom %>
  </div>
  <div class="field">
    <%= f.label :select_count %><br />
    <%= f.number_field :select_count %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :plugins %><br />
    <%= f.number_field :plugins %>
  </div>
  <div class="field">
    <%= f.label :create_man %><br />
    <%= f.text_field :create_man %>
  </div>
  <div class="field">
    <%= f.label :update_man %><br />
    <%= f.text_field :update_man %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
