<p id="notice"><%= notice %></p>

<p>
  <b>Born:</b>
  <%= @user_more.born %>
</p>

<p>
  <b>Tel:</b>
  <%= @user_more.tel %>
</p>

<p>
  <b>Fax:</b>
  <%= @user_more.fax %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user_more.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @user_more.lastname %>
</p>

<p>
  <b>State:</b>
  <%= @user_more.state %>
</p>

<p>
  <b>Comefrom:</b>
  <%= @user_more.comefrom %>
</p>

<p>
  <b>Select count:</b>
  <%= @user_more.select_count %>
</p>

<p>
  <b>Active:</b>
  <%= @user_more.active %>
</p>

<p>
  <b>Plugins:</b>
  <%= @user_more.plugins %>
</p>

<p>
  <b>Create man:</b>
  <%= @user_more.create_man %>
</p>

<p>
  <b>Update man:</b>
  <%= @user_more.update_man %>
</p>

<p>
  <b>Content:</b>
  <%= @user_more.content %>
</p>


<%= link_to 'Edit', edit_user_more_path(@user_more) %> |
<%= link_to 'Back', user_mores_path %>
