<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/cshtml; charset=utf-8" />
    <title>@ViewBag.Title---开发中 by xlgwr</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/logo.ico")"/>
    <link href="@Url.Content("~/Content/themes/xlgwr/xlgwr.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jqGrid/jquery-ui-jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/redmond/jquery.ui.all.css")" rel="stylesheet" title="theme" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"> </script>
    
    <script src="@Url.Content("~/Scripts/jquery-ui.multiselect.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
     <script type="text/javascript">

        $(function () {
            //*************************************************
            $("#dialog_tools,#dialog_Create").dialog({
                autoOpen: false,
                width: 562,
                height: 538,
                close: function () {
                    location.reload();
                }
            });
            //*************************************************
            $(".tabs-up").tabs({
                collapsible: true
            });
            //*************************************************
            $("input:submit").button();
            $('#ChangedTs,#CreatedTs').datepicker({
                autoSize: true,
                changeMonth: true,
                changeYear: true,
                showWeek: true,
                minDate: new Date(2000, 1 - 1, 1),
                maxDate: 0
            });

            //***********************************************
            $("#nav_user_content_main").accordion({
                autoHeight: false,
                event: "mouseover"
            });    //  ***********************************************************
            $("#leftorright").click(function () {
                //alert("go");
                var TextOfleft = $(this).html();
                //alert(TextOfleft.toString());
                if (TextOfleft.toString() == "展开") {
                    $("#leftorright").html("左收");
                } else {
                    $("#leftorright").html("展开");
                }

                $("#nav_user_content_main").fadeToggle("fast", "linear", function () {

                    $("#nav_user_content_sub").toggleClass("widthbig");
                    $("#back-top").toggleClass("right");
                });

            });
            //***********************/
            $(".btn-slide").click(function () {
                var TextOfleft = $(this).html();
                //alert(TextOfleft.toString());
                if (TextOfleft.toString() == "下展") {
                    $(".btn-slide").html("上收");
                } else {
                    $(".btn-slide").html("下展");
                }
                $("#header").slideToggle("slow");
                $(this).toggleClass("active");
            });
            //***********************/
            $(".loadmessage").hide();
            ///**********************
            $("#pagesGo > a").click(function () {
                $("#loadmessage").fadeIn('slow');
                var loadhref = $(this).attr("href-data");
                //alert("OK" + loadhref.toString());
                $("#powerAccording").load(loadhref.toString(),
                                              function (response, status, xhr) {
                                                  if (status == "error") {
                                                      var msg = "Sorry but there was an error: ";
                                                      alert(msg + xhr.status + " " + xhr.statusText);
                                                  }

                                              });
                $("#loadmessage").fadeOut('slow');
                $("#loadmessage").hide();
            });

        });
        $(document).ready(function () {
            //tip
            $(".menu a").hover(function () {
                $(this).next("em").animate({ opacity: "show", top: "-75" }, "slow");
            }, function () {
                $(this).next("em").animate({ opacity: "hide", top: "-85" }, "fast");
            });

            //menu system
            $(".menu li").hover(function () {
                $(".menu table").animate({ opacity: "hide", top: "50" }, "fast");
                $(this).find("table").first().animate({ opacity: "show", top: "30" }, "slow");
            }, function () {
            });
            $(".menu table").hover(function () {
            }, function () {
                // alert("ok");
                var tab = $(this).animate({ opacity: "hide", top: "50" }, "fast");
            });
            $("#main").mousemove(function () {
                $(".menu table").animate({ opacity: "hide", top: "50" }, "fast");
            });
            // hide #back-top first
            $("#back-top").hide();

            // fade in #back-top
            $(function () {
                $(window).scroll(function () {
                    if ($(this).scrollTop() > 100) {
                        $('#back-top').fadeIn();
                    } else {
                        $('#back-top').fadeOut();
                    }
                });

                // scroll body to 0px on click
                $('#back-top a').click(function () {
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
            });

        });
        
    </script>
    <script type="text/javascript">
        $(function () {
            //$(".menu li table a").addClass("ui-button-text-only ui-state-focus");
            //theme switcher
            var theme = "redmond";
            $('#set').hide();
            $('#themes').hover(function () { $('#set').fadeIn(); }, function () { });
            $('#themes a').click(function () {
                theme = $(this).attr('title');
                update();
                return false;
            });
            $('#set').hover(function () { }, function () { $(this).fadeOut(); });

            function update() {
                if (theme.indexOf("?") >= 0) { theme = theme.split('?')[1]; }
                if (theme.indexOf('#') >= 0) { theme = theme.split('#')[1]; }
                var cssPath = '/Content/themes/';
                $('link[title="theme"]').replaceWith('<link href="' + cssPath + theme + '/jquery.ui.all.css" title="theme" rel="Stylesheet" type="text/css" />');
                $('iframe').each(function () {
                    var thissrc = $(this).attr("src");
                    $(this).attr("src", thissrc);
                });
            }

        });
    </script>
    <style type="text/css">
        .test
        {
            border: 3px inset red;
            postion: fix;
            top: 0;
            color: red !important;
        }
        div .widthbig
        {
            left: -0.5% !important;
            width: 100% !important;
        }
    </style>
</head>
<body class="ui-widget-content">
    <div id="pagebody">
        <div id="header">
            <div id="title">
                <h1>
                    Cordiality ERP</h1>
                <span>--->开发中 --开发中 by xlgwr</span>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <div id="themes">
                <div id="set">
                    <ul>
                        <!-- <li><a href="#" title="black-tie">
                            <img src="Content/themes/xlgwr/images/theme_90_black_tie.png" alt="image" width="90"
                                height="90" /></a> </li>-->
                        <li><a href="#" title="blitzer">
                            <img src="/Content/themes/xlgwr/images/theme_90_blitzer.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="cupertino">
                            <img src="/Content/themes/xlgwr/images/theme_90_cupertino.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="dark-hive">
                            <img src="/Content/themes/xlgwr/images/theme_90_dark_hive.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="dot-luv">
                            <img src="/Content/themes/xlgwr/images/theme_90_dot_luv.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="eggplant">
                            <img src="/Content/themes/xlgwr/images/theme_90_eggplant.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <!-- <li><a href="#" title="excite-bike">
                            <img src="Content/themes/xlgwr/images/theme_90_excite_bike.png" alt="image" width="90"
                                height="90" /></a> </li>-->
                        <li><a href="#" title="flick">
                            <img src="/Content/themes/xlgwr/images/theme_90_flick.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="hot-sneaks">
                            <img src="/Content/themes/xlgwr/images/theme_90_hot_sneaks.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="humanity">
                            <img src="/Content/themes/xlgwr/images/theme_90_humanity.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="le-frog">
                            <img src="/Content/themes/xlgwr/images/theme_90_le_frog.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="mint-choc">
                            <img src="/Content/themes/xlgwr/images/theme_90_mint_choco.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="overcast">
                            <img src="/Content/themes/xlgwr/images/theme_90_overcast.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="pepper-grinder">
                            <img src="/Content/themes/xlgwr/images/theme_90_pepper_grinder.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="smoothness">
                            <img src="/Content/themes/xlgwr/images/theme_90_smoothness.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <!--<li><a href="#" title="start">
                            <img src="Content/themes/xlgwr/images/theme_90_start_menu.png" alt="image" width="90"
                                height="90" /></a> </li>-->
                        <!--  <li><a href="#" title="south-street">
                            <img src="Content/themes/xlgwr/images/theme_90_south_street.png" alt="image" width="90"
                                height="90" /></a> </li>-->
                        <li><a href="#" title="sunny">
                            <img src="/Content/themes/xlgwr/images/theme_90_sunny.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="swanky-purse">
                            <img src="/Content/themes/xlgwr/images/theme_90_swanky_purse.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="trontastic">
                            <img src="/Content/themes/xlgwr/images/theme_90_trontastic.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="ui-darkness">
                            <img src="/Content/themes/xlgwr/images/theme_90_ui_dark.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="ui-lightness">
                            <img src="/Content/themes/xlgwr/images/theme_90_ui_light.png" alt="image" width="90"
                                height="90" /></a> </li>
                        <li><a href="#" title="redmond">
                            <img src="/Content/themes/xlgwr/images/theme_90_windoze.png" alt="image" width="90"
                                height="90" /></a> </li>
                    </ul>
                </div>
            </div>
            <div id="menucontainer">
                <div id="menu" class="menus ui-state-default">
                    <ul class="menu">
                        <li><a href="#"><span>物流管理</span></a>
                            <div class="columns three">
                                <ul class="one">
                                    <li><strong>销售中心</strong></li>
                                    <li><a href="/XlgwrCordiality/QuotationManagement/Index"><span>1.报价管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/OrderManagement/Index"><span>2.订单管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/QuotationManagement/Index"><span>3.报价管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/QuotationManagement/Index"><span>4.报价管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/OrderManagement/Index"><span>5.订单管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/QuotationManagement/Index"><span>6.报价管理系统</span></a></li>
                                    <li><a href="#" class="parent"><span>7.销售报表</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>7.1 销售报表</span></a></li>
                                                <li><a href="#"><span>7.2 销售报表</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="two">
                                    <li><strong>采购管理</strong></li>
                                    <li><a href="#" class="parent"><span>1.申购系统</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>1.1主料申购系统</span></a></li>
                                                <li><a href="#"><span>1.2辅料申购系统</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#"><span>2.辅料申购系统</span></a></li>
                                    <li><a href="#"><span>3.主料采购系统</span></a></li>
                                    <li><a href="#"><span>4.辅料采购系统</span></a></li>
                                    <li><a href="#"><span>5.主料采购系统</span></a></li>
                                    <li><a href="#"><span>6.辅料采购系统</span></a></li>
                                    <li><a href="#" class="parent"><span>7.采购报表</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>7.1采购汇总报表</span></a></li>
                                                <li><a href="#"><span>7.2采购月结报表</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="three">
                                    <li><strong>仓库中心</strong></li>
                                    <li><a href="#"><span>1.产品入库系统</span></a></li>
                                    <li><a href="#"><span>2.主料入库系统</span></a></li>
                                    <li><a href="#"><span>3.辅料入库系统</span></a></li>
                                    <li><a href="#"><span>4.产品出库系统</span></a></li>
                                    <li><a href="#"><span>5.主料出库系统</span></a></li>
                                    <li><a href="#"><span>6.辅料出库系统</span></a></li>
                                    <li><a href="#" class="parent"><span>7.仓库报表</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>7.1 仓库报表</span></a></li>
                                                <li><a href="#"><span>7.2 仓库报表</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span>生产中心</span></a>
                            <div class="columns two">
                                <ul class="one">
                                    <li><strong>生产管理</strong></li>
                                    <li><a href="#"><span>1.工单作业系统</span></a></li>
                                    <li><a href="#"><span>2.生产排程系统</span></a></li>
                                    <li><a href="#"><span>3.物料计划系统</span></a></li>
                                    <li><a href="#"><span>4.生产领料系统</span></a></li>
                                    <li><a href="#"><span>5.生产领料系统</span></a></li>
                                    <li><a href="#" class="parent"><span>6.生产报表</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>6.1 生产报表</span></a></li>
                                                <li><a href="#"><span>6.2 生产报表</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="two">
                                    <li><strong>品质中心</strong></li>
                                    <li><a href="#"><span>1.IQC管理系统</span></a></li>
                                    <li><a href="#"><span>2.IPQC管理系统</span></a></li>
                                    <li><a href="#"><span>3.FQC管理系统</span></a></li>
                                    <li><a href="#"><span>4.OQC管理系统</span></a></li>
                                    <li><a href="#"><span>5.实验检测系统</span></a></li>
                                    <li><a href="#" class="parent"><span>6.品质报表</span></a>
                                        <div>
                                            <ul>
                                                <li><a href="#"><span>6.1 品质报表</span></a></li>
                                                <li><a href="#"><span>6.2 品质报表</span></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span>财务管理</span></a>
                            <div class="columns two">
                                <ul class="one">
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>财务报表系统</span></a></li>
                                </ul>
                                <ul class="two">
                                    <li><a href="#"><span>应收款管理系统</span></a></li>
                                    <li><a href="#"><span>应付款管理系统</span></a></li>
                                    <li><a href="#"><span>成本管理管理</span></a></li>
                                    <li><a href="#"><span>项目管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span>人力中心</span></a>
                            <div class="columns two">
                                <ul class="one">
                                    <li><a href="/XlgwrCordiality/OfficeWorkerManagement/Index"><span>职员管理系统</span></a></li>
                                    <li><a href="#"><span>人事考勤系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                    <li><a href="#"><span>财务报表系统</span></a></li>
                                </ul>
                                <ul class="two">
                                    <li><a href="#"><span>应收款管理系统</span></a></li>
                                    <li><a href="#"><span>应付款管理系统</span></a></li>
                                    <li><a href="#"><span>成本管理管理</span></a></li>
                                    <li><a href="#"><span>项目管理系统</span></a></li>
                                    <li><a href="#"><span>出纳管理系统</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span>基础信息</span></a>
                            <div class="columns two">
                                <ul class="one">
                                    <li><strong>基础数据</strong></li>
                                    <li><a href="/XlgwrCordiality/ProductInformation/Index"><span>1.产品管理</span></a></li>
                                    <li><a href="/XlgwrCordiality/CustomerManagement/Index"><span>2.客户管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/VendorsManagement/Index"><span>3.供应商管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/MaterialManagement/Index"><span>4.主料管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/AccessoriesManagement/Index"><span>5.辅料管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/DaomoManagement/Index"><span>6.刀模管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/FeiLinManagement/Index"><span>7.菲林管理系统</span></a></li>
                                    <li><a href="/XlgwrCordiality/PhraseManagement/Index"><span>8.片语管理系统</span></a></li>
                                </ul>
                                <ul class="two">
                                    <li><strong>系统操作</strong></li>
                                    <li><a href="#"><span>1.界面个性系统</span></a></li>
                                    <li><a href="#"><span>2.操作记录系统</span></a></li>
                                    <li><a href="#"><span>3.日常管理系统</span></a></li>
                                    <li><a href="#"><span>4.个人信息系统</span></a> </li>
                                    <li><a href="#"><span>5.界面个性系统</span></a></li>
                                    <li><a href="#"><span>6.操作记录系统</span></a></li>
                                    <li><a href="#"><span>7.日常管理系统</span></a></li>
                                    <li><a href="#"><span>8.报表管理系统</span></a> </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#"><span>帮助</span></a>
                            <div class="last">
                                <ul>
                                    <li><a href="#"><span>查看帮助</span></a></li>
                                    <li><a href="#"><span>帮助设置</span></a></li>
                                    <li><a href="#"><span>在线帮助</span></a></li>
                                    <li><a href="#"><span>意见反馈</span></a></li>
                                    <li><a href="#"><span>系统说明</span></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="slide">
            <span class="btn-slide">上收</span></p>
        <div id="main">
            <!--nav_pt_n_content引用其它页面-->
            @RenderBody()
            <!--1.Main content引用其它页面 -->
            <div id="leftorright">
                左收
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="back-top">
            <a href="#top"><span></span>Back to Top</a>
        </div>
        <div id="loadmessage" class="loadmessage">
            加载中...
        </div>
        @*      <div id="backclock">
            <iframe id="clock" src="Content/js-clock/js-clock.html" frameborder="0"></iframe>
        </div>*@
    </div>
    @RenderSection("JavaScript", false)
</body>
</html>
